- content_for :title do
  Buat Ujian Baru - Dasbor

- content_for :content do
  .mobile-message
    .mt-8.bg-yellow-100.border-l-4.border-yellow-500.text-yellow-700.p-4
      %p.font-bold Maaf, laman ini tidak bisa diakses dengan ponsel.
  .desktop-content
    .text-3xl.font-black.my-8
      %a{ class:"p-1 bg-gray-400 rounded-full hover:bg-gray-600 hover:text-white text-3xl", href: index_manage_exam_active_path } 
        %i.ri-arrow-left-line
      %span.ml-2 Buat ujian baru

    = render 'form_simple'

= render "layouts/dashboard"
