<div>
  <h1 class="font-bold text-4xl">SETUP 2FA</h1>
  <%= link_to(destroy_user_session_path, data: { turbo_method: :delete }, class:"flex items-center pl-3 py-3 pr-2 text-gray-50 hover:bg-gray-900 rounded") do %>
    <span class="inline-block mr-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600 w-5 h-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
      </svg>
    </span>
    <span>Keluar</span>
  <% end %>
</div>