<% content_for :title do %>
  Inisiasi Kemanan Akun
<% end %>
<section class="relative overflow-hidden">
  <div class="w-full mx-auto max-w-[480px] flex flex-col justify-center py-20 relative p-8">
    <div class="max-w-[480px] mx-auto">
      <div class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl mx-auto max-w-sm w-full">
        <h1>Peningkatan Kemanan Akun</h1>
        <p class="text-balance">Akun Anda memiliki otoritas operator pada sistem ini.</p>
        <p class="text-xs text-gray-400">Laman ini harus dikunjungi oleh perangkat selain ponsel utama Anda. Akun Anda wajib menggunakan keamanan autentikasi dua faktor. Gunakan aplikasi 2FA seperti <span class="font-bold">Google Authenticator</span> atau <span class="font-bold">Microsoft Authenticator</span>.</p>
        <div class="mt-6 border-t pt-4">
          <p class="text-center">Pindai Kode QR di bawah menggunakan aplikasi autentikasi yang telah terpasang diponsel Anda.</p>
          <div class="flex justify-center">
            <div class="card glass p-4 inline-block text-center mx-auto my-4">
              <%= raw RQRCode::QRCode.new(
            current_user.otp_provisioning_uri(
              current_user.identity,
              issuer: "PangkatPlus-POLRI"
            ),
            :level => :l,
            :unit => 2).as_svg(
              :module_size => 6

            ) %>
            </div>
          </div>
          <p class="text-center">Masukkan kode yang Anda dapatkan di bawah ini</p>
          <%= form_tag(twofactorauth_path, method: :post) do %>
            <div class="mb-4">
              <label class="form-control w-full">
                <div class="label">
                  <div class="flex items-center">
                    <label class="label-text mr-1" for="otp_attempt">Kode OTP</label>
                    <div class="tooltip tooltip-right tooltip-info" data-tip="Kode OTP bisa Anda lihat di aplikasi otentikasi.">
                      <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-info h-6 w-6 shrink-0">
                        <path 
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
                <%= text_field_tag :otp_attempt, nil, class: "input input-bordered w-full", placeholder: "Masukkan kode OTP" %>
              </label>
            </div>
            <div class="mb-4">
              <%= submit_tag "Verifikasi", class: "bg-cyan-500 hover:bg-cyan-700 text-white font-bold p-3 rounded-lg rounded focus:outline-none focus:shadow-outline w-full cursor-pointer text-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
