%div{ class: "bg-white rounded-lg border border-gray-100 p-6 shadow-md shadow-black/5" }
  .flex.justify-between.mb-6
    %div
      .flex.items-center-mb-1 
        .text-2xl.font-semibold= number
      .text-sm.font-medium.text-gray-400= subject
  %a{ href: link, class: "text-[#f84525] font-medium text-sm hover:text-red-800" } 
    %span.uppercase lihat detail
